<h3>
  Hello <%= @current_user.username %>
</h3>

<body>
  <div class="col-xs-6 col-xs-offset-3">

    <h2>Create a new pin!</h2>

             <form action="/pins/new" method="POST">

          <div class="form-group">
            <label for="image">Image URL</label>
            <input type="url" class="form-control" name="image" id="tags" value="" placeholder="Give me an image URL" />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" value="" placeholder="description" />
          </div>

          <button class="btn btn-success" type="submit">Submit</button>

       </form>
      </div>

  </body>